<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	   
</head>
<body>
    <h1>API Throttled :(</h1>
    <p><%=data%></p>
</body>
</html>
